body
{
    background-color: #404040;
    font-family: 'Lato', sans-serif;
}

#container
{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

#logo
{
    color: white;
    margin-top: 20px;
    font-size: 44px;
    letter-spacing: 3px;
    font-weight: 900;
}

#menu
{
    background-color: #303030;
    margin-top: 20px;
    color: #ffffff;
    padding: 10px;
    opacity: 0.8;
}

#topbar
{

}

#sidebar
{
}

#content
{
}

#footer
{
}

.option
{
    float:left;
    min-width: 50px;
    height: 25px;
    font-size: 18px;
    padding: 10px;
    border-right: 2px dotted #444444;
}

.option:hover
{
    background-color: #000000;
    cursor: pointer;
}